.contact-header {
    width: 100%;
    height: 400px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.contact-header h1 {
    z-index: 5;
    font-size: 50px;
}

.contact-header-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

/* map */

.contact-map {
    width: 100%;
    height: 400px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-details {
    width: calc(100% - 200px);
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 20px;
    margin: auto;
}

.contact-details h4 {
    font-family: sans-serif;
    text-align: center;
    color: #707070;
    font-size: 22px;
    margin-bottom: 40px;
}

.contact-input-two {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.contact-i-t-1,
.contact-i-t-2 {
    width: calc(50% - 5px);
}

.contact-i-t-2 {
    margin-left: 10px;
}

.contact-input-one {
    width: 100%;
    margin-top: 15px;
}

.contact-i-t-1 input,
.contact-i-t-2 input,
.contact-input-one input {
    width: calc(100% - 20px);
    height: 35px;
    border: 1px solid #707070;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}

.contact-input-one textarea {
    width: calc(100% - 20px);
    height: 100px;
    border: 1px solid #707070;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}


.contact-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contact-button button {
    width: 250px;
    height: 35px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:768px) {
    .contact-details {
        width: calc(100% - 40px);
    }
}

@media(max-width:576px) {
    .contact-input-two {
        display: block;
    }

    .contact-i-t-1,
    .contact-i-t-2 {
        width: 100%;
        margin: 0;
    }

    .contact-i-t-2 {
        margin-top: 15px;
    }
}