.header {
    width: calc(100%);
    height: 500px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.header-content {
    width: 100%;
    position: relative;
    z-index: 2;

}

.header-content h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.header-i-c-1,
.header-i-c-2,
.header-i-c-3 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    /* background-color: green; */
}


.input-content {
    width: calc(100% / 3);
    display: block;
    margin: 0 10px;
    /* background-color: yellow; */
}

.input-content:first-child {
    margin-left: 0;
}

.input-content:last-child {
    margin-right: 0;
}

.input-content p {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.input-content input {
    width: calc(100% - 20px);
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 10px;
    margin-top: 10px;
}

.input-content select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
}

.car-type {
    width: calc(100% - 320px);
}

.car-type p {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.car-type select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
}

.header-search-button {
    width: 300px;
    margin-left: 20px;
    margin-top: 25px;
}

.header-search-button button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
}

@media(max-width:768px) {

    .car-type {
        width: calc(100% - 220px);
    }

    .header-search-button {
        width: 200px;
    }
}

@media(max-width:576px) {

    .header {
        height: auto;
        padding: 60px 0;
    }

    .header-i-c-1,
    .header-i-c-2,
    .header-i-c-3 {
        display: block;
        margin-top: 10px;
    }

    .input-content {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .car-type {
        width: calc(100%);

    }

    .header-search-button {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }


}


