.car-list{
    width: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto auto  auto auto;
    /* grid-template-columns: 1fr 1fr; */
    gap: 20px;
}

@media(max-width:1200px) {
    .car-list {
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:768px) {
    .car-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:476px) {
    .car-list {
        grid-template-columns: 1fr;
    }
}

.car-card {
    /* width: 300px; */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    transition: all .5s ease;
    cursor: pointer;
    display: block;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* .car-card:hover{
    transform: scale(1.03);
} */

.car-c-title {
    width: 100%;
    /* height: 50px; */
    /* background-color: green; */
    color: #707070;
    font-size: 14px;
}


.car-c-image {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.car-c-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(1px); */
    transition: all .5s ease;
}

.car-card:hover .car-c-image img{
    filter: blur(0px);
    transform: scale(1.08);
}

.car-c-price {
    width: 120px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--main-color);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* opacity: 0; */
    transition: all .5s ease;
}

/* .car-card:hover .car-c-price {
    left: 50%;
} */

.car-c-detials {
    display: flex;
    margin-top: 10px;
}

/* .car-cd-1{
    width: calc(100% / 4);
} */

.car-c-detials ul {
    width: 100%;
}

.car-c-detials ul li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}

.car-c-detials ul li:first-child {
    margin-left: 0;
}

.car-c-detials ul li:last-child {
    margin-right: 0;
}