.nav-1 {
    width: 100%;
    height: 30px;
    background-color: rgb(100, 100, 100);
    display: flex;
}

.nav-1-c-1{
    width:  calc(100% - 220px);
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-1-c-1 a{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}

.nav-1-c-1 a:last-child{
    margin-left: 20px;
}

.nav-1-c-2{
    width: 180px;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-1-c-2 ul li{
    display: inline-block;
    margin: 0 5px;
}

.nav-1-c-2 ul li:last-child{
    margin-right: 0;
}

.nav-1-c-2 ul li:first-child{
    margin-left: 0;
}

.nav-1-c-2 ul li a{
    color: white;
    font-size: 14px;
}

@media(max-width:992px){
    .nav-1 {
        display: none;
    }
}

/* navigation */

nav {
    width: 100%;
    background-color: var(--main-color);
    /* position: fixed; */
}

.nav-content {
    width: calc(100% - 40px);
    height: 70px;
    /* background-color: blue; */
    margin: auto;
    display: flex;
}

.nav-c-1 {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: firebrick; */
}

.nav-c-1 img {
    height: 40px;
}

.nav-c-2 {
    width: calc(100% - 400px);
    height: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-c-2 ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav-c-2 ul li:first-child {
    margin-left: 0;
}

.nav-c-2 ul li:last-child {
    margin-right: 0;
}

.nav-c-2 ul li a {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.nav-c-3 {
    width: 200px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: tomato; */
}

.nav-c-3-c-1 {
    width: 40px;
    height: 40px;
}

.nav-c-3-c-1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.nav-c-3-c-2 .btn-a,
.nav-c-3-c-3 .btn-a {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: white;
}

.nav-c-3-c-2 .btn-a:hover,
.nav-c-3-c-3 .btn-a:hover {
    background-color: blue;
}

.nav-c-3-c-3 {
    margin-left: 5px;
}


.nav-c-4 {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    display: none;
    /* background-color: rgb(60, 255, 0); */
}

.menu-icon {
    width: 35px;
    height: 25px;
    /* background-color: blue; */
    position: relative;
    cursor: pointer;

}

.menu-line {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    transition: all .5s ease;
}

.menu-line:nth-child(2) {
    top: calc(50% - 1.5px);
}

.menu-line:nth-child(3) {
    bottom: 0;
}

.menu-icon.active .menu-line:nth-child(1) {
    transform: rotate(225deg);
    top: calc(50% - 1.5px);
}

.menu-icon.active .menu-line:nth-child(2) {
    /* left: 100px; */
    opacity: 0;
}

.menu-icon.active .menu-line:nth-child(3) {
    transform: rotate(-225deg);
    bottom: calc(50% - 1.5px);
}


@media(max-width:992px) {
    .nav-c-2 {
        display: none;
    }

    .nav-c-3 {
        display: none;
    }

    .nav-c-4 {
        display: flex;
    }
}